<div class="row">
  <div class="col-sm-5">
    <div class="user-profile">
      <div class="icon text-left">
        <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
      </div>
      <div class="name text-left">
        <h1><%= @user.name %></h1>
      </div>
    </div>
  </div>
  
<div class="col-sm-offset-2 col-sm-5">
        <h2>過去の投稿</h2>

  <ul class="media-list">
        <% @trivians.each do |trivian| %>
      <li class="media">
        <div class="media-body">
          
          
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= link_to trivian.category.content, category_path(trivian.category) %>
                    <span class="text-dark">posted at <%= trivian.created_at %></span>
                  </h3>
              </div>
              <div class="panel-body">
                <div>
                  <p><%= trivian.content %></p> 
                  <% if trivian.clip_user(current_user.id) %>
                    <%= button_to trivian_clip_path(@clips, trivian_id: trivian.id), method: :delete, id: "clip-button", remote: true do %> 
                      <%= image_tag("icon_red_heart.png") %>
                      <span>
                      <%= trivian.clips_count %>
                      </span>
                      <% end %>
                      <% else %>
                       <%= button_to trivian_clips_path(trivian),id: "clip-button", remote: true do %>  
                         <%= image_tag("icon_heart.png") %>
                        <span>
                        <%= trivian.clips_count %>
                        </span>
                        <% end %>
                       <% end %>
    
                </div>
              </div>
          </div>

         <div>
          <% if current_user == trivian.user %>
            <%= link_to "削除", trivian, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div> 
          
        </div>
      </li>
        <% end %>
       <%= paginate @trivians %>
  </ul>
</div>
