<ul class="media-list">
  <% trivians.each do |trivian| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(trivian.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= link_to trivian.category.content, category_path(trivian.category) %>
                    <span class="text-dark">posted at <%= trivian.created_at %></span> by <%= link_to trivian.user.name, user_path(trivian.user) %>
                  </h3>
              </div>
              <div class="panel-body">
                <div>
                  <p><%= trivian.content %></p> 
                  <span class="clip">
    <% if trivian.iine?(current_user) %>
      <%= form_for(trivian.clips.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{trivian.clips_count}", class: "glyphicon glyphicon-star" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(trivian.clips.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :trivian_id, trivian.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{trivian.clips_count}", class: "glyphicon glyphicon-star-empty" %>
        <% end %>
      <% end %>
    <% end %>
    </span>
                </div>
              </div>
          </div>

        
    
    
   
    </div>
    </li>
  <% end %>
</ul>