<h1><%= @category.content %></h1>

<ul class="media-list">
  <% @trivians.each do |trivian| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(trivian.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= link_to trivian.user.name, user_path(trivian.user) %>
                    <span class="text-dark">posted at <%= trivian.created_at %></span> 
                  </h3>
              </div>
              <div class="panel-body">
                <div>
                  <p><%= trivian.content %></p> 
                  <% if trivian.clip_user(current_user.id) %>
                    <%= button_to trivian_clip_path(@clips, trivian_id: trivian.id), method: :delete, id: "clip-button", remote: true do %> 
                      <%= image_tag("icon_red_heart.png") %>
                      <span>
                      <%= trivian.clips_count %>
                      </span>
                      <% end %>
                      <% else %>
                       <%= button_to trivian_clips_path(trivian),id: "clip-button", remote: true do %>  
                         <%= image_tag("icon_heart.png") %>
                        <span>
                        <%= trivian.clips_count %>
                        </span>
                        <% end %>
                       <% end %>
                </div>
              </div>
          </div>

        
        
        
      </div>
    </li>
  <% end %>
  <%= paginate @trivians %>
</ul>